**/bStackLogs/
*.tgz
*.tsbuildinfo
.DS_Store
.idea
.env
.eslintcache
.kiro
.npmrc
.nx/cache
.nx/workspace-data
.nyc_output
/amzn-*.tgz
/credentials/
/lerna-debug.log
browserstack.err
build
coverage
dist
musicAuth.json
node_modules
packages/vinyl-website/public/tsdocs
